		<!-- Page Content -->
		<div class="page-content about-us-2-section">

			<!-- About Us Start -->
			<section class="section-lg">
				<div class="container">
					<div class="row">
						<div class="col-md-5">
							<div class="pbmit-heading-subheading mb-4">
								<h4 class="pbmit-subtitle">Who we are</h4>
								<h2 class="pbmit-title">Choose Our Hospital, Choose The Best Care For Yourself</h2>
							</div>
						</div>
						<div class="col-md-7">
							<div class="pbmit-heading-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore t dolore magna aliqua. Ut enim ad minim veniam,<br> quis nostrud exercitation ullamco. laboris nisi ut aliquip exea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
							</div>
						</div>
					</div>
					<div class="about-three-static-box">
						<div class="row">
							<div class="col-md-4">
								<div class="pbmit-static-box-style-2">
									<img src=" images/homepage-3/static-box/about-01.jpg" class="img-fluid w-100" alt="" title="about-01">
									<div class="pbminfotech-box-title">
										<h4>
											<i class="pbmit-dentiq-icon pbmit-dentiq-icon-medical-record"></i> Accepting Insurance
										</h4>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="pbmit-static-box-style-2">
									<img src="images/homepage-3/static-box/about-02.jpg" class="img-fluid w-100" alt="" title="about-02">
									<div class="pbminfotech-box-title">
										<h4>
											<i class="pbmit-dentiq-icon pbmit-dentiq-icon-dentist"></i>  Innovative Technology
										</h4>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="pbmit-static-box-style-2">
									<img src="images/homepage-3/static-box/about-03.jpg" class="img-fluid w-100" alt="" title="about-03">
									<div class="pbminfotech-box-title">
										<h4>
											<i class="pbmit-dentiq-icon pbmit-dentiq-icon-doctor-1"></i>  Certified Dentist
										</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
               	</div>
			</section>
			<!-- About Us End -->
			
			<!-- Progressbar Start -->
			<section class="progressbar-section">
				<div class="container">
					<div class="row g-0">
						<div class="col-md-6">
							<div class="progressbar-bg-box">
								<div class="pbmit-heading-subheading">
									<h4 class="pbmit-subtitle">Why Choose Us</h4>
									<h2 class="pbmit-title">Choose Our Hospital, Choose The Best Care</h2>
								</div>
								<div class="pbmit-heading-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore t dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris nisi ut aliquip exea commodo consequat.</p>
								</div>
								<div class="progressbar">
									<span class="progress-label">Cavity Protection</span>
									<div class="progress progress-lg progress-percent-bg">
										<div class="progress-bar aos aos-init aos-animate" data-aos="slide-right"
											data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out"
											role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
											style="width:90%">
										</div>
										<span class="progress-percent">90%</span>
									</div>
								</div>
								<div class="progressbar">
									<span class="progress-label">Gum Disease</span>
									<div class="progress progress-lg progress-percent-bg">
										<div class="progress-bar aos aos-init aos-animate" data-aos="slide-right"
											data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out"
											role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
											style="width:80%">
										</div>
										<span class="progress-percent">80%</span>
									</div>
								</div>
								<div class="progressbar">
									<span class="progress-label">Orthodontics</span>
									<div class="progress progress-lg progress-percent-bg">
										<div class="progress-bar aos aos-init aos-animate" data-aos="slide-right"
											data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out"
											role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
											style="width:70%">
										</div>
										<span class="progress-percent">70%</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="progressbar-img-box"></div>
						</div>
					</div>
				</div>
			</section>
			<!-- Progressbar End -->

			<!-- Icon box Start -->
			<section class="section-lg about-us-section-two pbmit-bg-color-globalcolor">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<div class="pbmit-ihbox-style-10">
								<div class="pbmit-ihbox-contents">
									<div class="pbmit-ihbox-headingicon d-flex align-items-center">
										<div class="pbmit-ihbox-icon">
											<div class="pbmit-ihbox-icon-wrapper">
												<i class="pbmit-dentiq-icon pbmit-dentiq-icon-healthcare-and-medical"></i>
											</div>
										</div>
										<div class="pbmit-ihbox-contents">
											<div class="pbmit-ihbox-subheading">
												<h4 class="vc_custom_heading">SPECIAL OFFER</h4>
											</div>
											<div class="pbmit-ihbox-heading">
												<h2 class="vc_custom_heading">Get a free medical checkup</h2>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="about-us-two-btn">
								<a href="contact-us.html" class="pbmit-btn pbmit-btn-outline-white">contact US</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Icon box End -->

			<!-- Testimonial Start -->
			<section class="section-lg testimonial-section-two">
				<div class="container">
					<div class="swiper-slider" data-arrows-class="team3-arrow"  data-autoplay="true" data-dots="false" data-arrows="true" data-columns="1" data-margin="30" data-effect="slide">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<!-- Slide1 -->
								<article class="pbmit-testimonial-style-2">
									<div class="pbminfotech-post-item">
										<div class="pbminfotech-box-img">
											<div class="pbmit-featured-wrapper">
												<img src="images/homepage-2/testimonial/testimonial-01.jpg" class="img-fluid" alt="">
											</div>
										</div>
										<div class="pbminfotech-box-content">
											<div class="pbminfotech-box-desc">
												<blockquote class="pbminfotech-testimonial-text">
													<p>The doctors and nurses and aides were excellent. The food was excellent. I am feeling fine, back to my old self again and it feels great. Thank God for clinics such as yours.</p>
												</blockquote>
											</div>
										</div>
										<div class="pbminfotech-box-author">
											<h3 class="pbminfotech-box-title">Richard Scott</h3>
											<span class="pbmit-designation">Dental Implants</span> 
										</div>
									</div>
								</article>
							</div>
							<div class="swiper-slide">
								<!-- Slide2 -->
								<article class="pbmit-testimonial-style-2">
									<div class="pbminfotech-post-item">
										<div class="pbminfotech-box-img">
											<div class="pbmit-featured-wrapper">
												<img src="images/homepage-2/testimonial/testimonial-02.jpg" class="img-fluid" alt="">
											</div>
										</div>
										<div class="pbminfotech-box-content">
											<div class="pbminfotech-box-desc">
												<blockquote class="pbminfotech-testimonial-text">
													<p>A smile adorns a person. I am glad that I can decorate people even in this way. Dentistry is not expensive, neglect is Being a famous designer is like being a famous dentist.</p>
												</blockquote>
											</div>
										</div>
										<div class="pbminfotech-box-author">
											<h3 class="pbminfotech-box-title">Jennifer Smith</h3>
											<span class="pbmit-designation">Teeth Whitening</span> 
										</div>
									</div>
								</article>
							</div>
							<div class="swiper-slide">
								<!-- Slide3 -->
								<article class="pbmit-testimonial-style-2">
									<div class="pbminfotech-post-item">
										<div class="pbminfotech-box-img">
											<div class="pbmit-featured-wrapper">
												<img src="images/homepage-2/testimonial/testimonial-03.jpg" class="img-fluid" alt="">
											</div>
										</div>
										<div class="pbminfotech-box-content">
											<div class="pbminfotech-box-desc">
												<blockquote class="pbminfotech-testimonial-text">
													<p>I appreciate all your kindness and good care you gave me. My maintenance treatments have done wonder for me. Thank you so much. Please enjoy the chocolates.</p>
												</blockquote>
											</div>
										</div>
										<div class="pbminfotech-box-author">
											<h3 class="pbminfotech-box-title">Paul Hill</h3>
											<span class="pbmit-designation">Orthodontics</span> 
										</div>
									</div>
								</article>
							</div>
						</div>
					</div>
				</div>
			</section>
            <!-- Testimonial End -->

			<!-- Client Start -->
			<section class="client-section-two">
				<div class="container">
					<div class="row">
						<div class="col-md-20percent">
							<article class="pbmit-client-style-1">
								<div class="pbmit-client-wrapper">
								<h4 class="pbmit-hide">Client 6</h4>
									<div class="pbmit-featured-wrapper">
										<img src="images/homepage-1/client/client-01.png" class="img-fluid" alt="">
									</div>
								</div>
							</article>
						</div>
						<div class="col-md-20percent">
							<article class="pbmit-client-style-1">
								<div class="pbmit-client-wrapper">
								<h4 class="pbmit-hide">Client 6</h4>
									<div class="pbmit-featured-wrapper">
										<img src="images/homepage-1/client/client-02.png" class="img-fluid" alt="">
									</div>
								</div>
							</article>
						</div>
						<div class="col-md-20percent">
							<article class="pbmit-client-style-1">
								<div class="pbmit-client-wrapper">
								<h4 class="pbmit-hide">Client 6</h4>
									<div class="pbmit-featured-wrapper">
										<img src="images/homepage-1/client/client-03.png" class="img-fluid" alt="">
									</div>
								</div>
							</article>
						</div>
						<div class="col-md-20percent">
							<article class="pbmit-client-style-1">
								<div class="pbmit-client-wrapper">
								<h4 class="pbmit-hide">Client 6</h4>
									<div class="pbmit-featured-wrapper">
										<img src="images/homepage-1/client/client-04.png" class="img-fluid" alt="">
									</div>
								</div>
							</article>
						</div>
						<div class="col-md-20percent">
							<article class="pbmit-client-style-1">
								<div class="pbmit-client-wrapper">
								<h4 class="pbmit-hide">Client 6</h4>
									<div class="pbmit-featured-wrapper">
										<img src="images/homepage-1/client/client-05.png" class="img-fluid" alt="">
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</section>
            <!-- Client End -->
			
		</div>
		<!-- Page Content End -->