         <!-- Page Content -->
         <div class="page-content">

			<!-- Icon box Start -->
			<section>
				<div class="container">
					<div class="icon-box-two">
						<div class="row">
							<div class="col-md-4">
								<div class="pbmit-ihbox-style-7">
									<div class="pbmit-ihbox-box">
										<div class="pbmit-ihbox-headingicon d-flex align-items-center">
											<div class="pbmit-ihbox-icon">
												<div class="pbmit-ihbox-icon-wrapper">
													<i class="pbmit-dentiq-icon pbmit-dentiq-icon-call"></i>
												</div>
											</div>
											<div class="pbmit-ihbox-contents">
												<div class="pbmit-ihbox-heading">
													<h2 class="vc_custom_heading">Call us today</h2>
												</div>
												<div class="pbmit-ihbox-content">+1 451-673-12-45 or +1 451-673 </div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="pbmit-ihbox-style-7">
									<div class="pbmit-ihbox-box">
										<div class="pbmit-ihbox-headingicon d-flex align-items-center">
											<div class="pbmit-ihbox-icon">
												<div class="pbmit-ihbox-icon-wrapper">
													<i class="pbmit-dentiq-icon pbmit-dentiq-icon-24-hours"></i>
												</div>
											</div>
											<div class="pbmit-ihbox-contents">
												<div class="pbmit-ihbox-heading">
													<h2 class="vc_custom_heading">Open hours</h2>
												</div>
												<div class="pbmit-ihbox-content">Mon - Sat: 8 am - 5 pm, Sun: Off </div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="pbmit-ihbox-style-7">
									<div class="pbmit-ihbox-box">
										<div class="pbmit-ihbox-headingicon d-flex align-items-center">
											<div class="pbmit-ihbox-icon">
												<div class="pbmit-ihbox-icon-wrapper">
													<i class="pbmit-dentiq-icon pbmit-dentiq-icon-medical-record"></i>
												</div>
											</div>
											<div class="pbmit-ihbox-contents">
												<div class="pbmit-ihbox-heading">
													<h2 class="vc_custom_heading">Make an appointment</h2>
												</div>
												<div class="pbmit-ihbox-content">Online doctor appointment system </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </section>
            <!-- Icon box End --> 

            <!-- About Start --> 
            <section class="section-lg">
               <div class="container">
					<div class="row align-items-center">
						<div class="col-md-6">
							<div class="about-two-content">
								<div class="pbmit-heading-subheading">
									<h4 class="pbmit-subtitle">Who we are</h4>
									<h2 class="pbmit-title">The Dental Center National Hospital</h2>
								</div>
								<h6>We offer reasonable pricing health care plans, insurance packages to clients.</h6>
								<p>HealSoul Health Services provide patients with choices to ask for the conducting and analyzing of several lab tests on-site at no cost for prioritized patients or at 70% for people with an insurance.</p>
								<div class="pbmit-ihbox-style-9">
									<div class="pbmit-ihbox-contents">
										<div class="pbmit-ihbox-headingicon d-flex">
											<div class="pbmit-ihbox-icon">
												<div class="pbmit-ihbox-icon-wrapper pbmit-ihbox-icon-type-image">
													<img src="images/homepage-1/icon/signature.jpg" class="img-fluid" alt="">
												</div>
											</div>
											<div class="pbmit-ihbox-contents">
												<div class="pbmit-ihbox-heading">
													<h2 class="vc_custom_heading">John Jefferson</h2>
												</div>
												<div class="pbmit-ihbox-subheading">
													<h4 class="vc_custom_heading">Vivamus diam neque</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="position-relative">
								<div class="about-two-first-img">
									<img src="images/homepage-2/doctorimage.jpg" class="img-fluid" alt="">
								</div>
								<div class="about-two-bg">	
									<div class="about-two-icon">
										<span>
											<i class="pbmit-dentiq-icon-shapes-and-symbols"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
               </div>
            </section>
            <!-- About End -->

            <!-- Service Start --> 
            <section class="section-lgx service-section-two pbmit-bg-color-light">
				<div class="container">
					<div class="pbmit-heading-subheading text-center">
						<h4 class="pbmit-subtitle">OUR SERVICES</h4>
						<h2 class="pbmit-title">What We Offer for You</h2>
						<div class="pbmit-heading-content">
							<p>All of our treatments and services are provided in a comfortable, spa-like clinic, designed<br> according to high-quality standards. </p>
						</div>
					</div>
					<div class="swiper-slider" data-arrows-class="team3-arrow"  data-autoplay="false" data-dots="true" data-arrows="true" data-columns="3" data-margin="30" data-effect="slide">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<!-- Slide1 -->
								<article class="pbmit-service-style-2">
									<div class="pbminfotech-post-item">
										<div class="pbmit-featured-wrapper">
											<img src="images/homepage-2/service/service-01.jpg" class="img-fluid" alt="">
										</div>
										<div class="pbminfotech-box-content">
											<div class="pbminfotech-box-content-inner">
												<div class="pbmit-service-icon">
													<div class="pbmit-service-icon-wrapper">
														<i class="pbmit-dentiq-icon pbmit-dentiq-icon-chair"></i> 
													</div>
												</div>
												<h3 class="pbmit-service-title">
													<a href="services-details.html">General Dentistry</a>
												</h3>
												<div class="pbmit-service-content">
													<p>Patient can get general treatments with single sitting.</p>
												</div>
											</div>
										</div>
									</div>
								</article>
							</div>
							<div class="swiper-slide">
								<!-- Slide2 -->
								<article class="pbmit-service-style-2">
									<div class="pbminfotech-post-item">
										<div class="pbmit-featured-wrapper">
											<img src="images/homepage-2/service/service-02.jpg" class="img-fluid" alt="">
										</div>
										<div class="pbminfotech-box-content">
											<div class="pbminfotech-box-content-inner">
												<div class="pbmit-service-icon">
													<div class="pbmit-service-icon-wrapper">
														<i class="pbmit-dentiq-icon pbmit-dentiq-icon-insurance"></i> 
													</div>
												</div>
												<h3 class="pbmit-service-title">
													<a href="services-details.html">Cosmetic Dentistry</a>
												</h3>
												<div class="pbmit-service-content">
													<p>Cosmetic dentistry is make your teeth and smile beautiful.</p>
												</div>
											</div>
										</div>
									</div>
								</article>
							</div>
							<div class="swiper-slide">
								<!-- Slide3 -->
								<article class="pbmit-service-style-2">
									<div class="pbminfotech-post-item">
										<div class="pbmit-featured-wrapper">
											<img src="images/homepage-2/service/service-03.jpg" class="img-fluid" alt="">
										</div>
										<div class="pbminfotech-box-content">
											<div class="pbminfotech-box-content-inner">
												<div class="pbmit-service-icon">
													<div class="pbmit-service-icon-wrapper">
														<i class="pbmit-dentiq-icon pbmit-dentiq-icon-prosthesis"></i> 
													</div>
												</div>
												<h3 class="pbmit-service-title">
													<a href="services-details.html">Dental Implants</a>
												</h3>
												<div class="pbmit-service-content">
													<p>Dental implants is a procedure of replacing missing teeth.</p>
												</div>
											</div>
										</div>
									</div>
								</article>
							</div>
							<div class="swiper-slide">
								<!-- Slide4 -->
								<article class="pbmit-service-style-2">
									<div class="pbminfotech-post-item">
										<div class="pbmit-featured-wrapper">
											<img src="images/homepage-2/service/service-04.jpg" class="img-fluid" alt="">
										</div>
										<div class="pbminfotech-box-content">
											<div class="pbminfotech-box-content-inner">
												<div class="pbmit-service-icon">
													<div class="pbmit-service-icon-wrapper">
														<i class="pbmit-dentiq-icon pbmit-dentiq-icon-braces-1"></i> 
													</div>
												</div>
												<h3 class="pbmit-service-title">
													<a href="services-details.html">Orthodontics</a>
												</h3>
												<div class="pbmit-service-content">
													<p>Orthodontics can correct the bite and retore balance to your teeth.</p>
												</div>
											</div>
										</div>
									</div>
								</article>
							</div>
							<div class="swiper-slide">
								<!-- Slide5 -->
								<article class="pbmit-service-style-2">
									<div class="pbminfotech-post-item">
										<div class="pbmit-featured-wrapper">
											<img src="images/homepage-2/service/service-05.jpg" class="img-fluid" alt="">
										</div>
										<div class="pbminfotech-box-content">
											<div class="pbminfotech-box-content-inner">
												<div class="pbmit-service-icon">
													<div class="pbmit-service-icon-wrapper">
														<i class="pbmit-dentiq-icon pbmit-dentiq-icon-insurance"></i> 
													</div>
												</div>
												<h3 class="pbmit-service-title">
													<a href="services-details.html">Teeth Whitening</a>
												</h3>
												<div class="pbmit-service-content">
													<p>Laser teeth whitening procedure allows us to whiten your teeth.</p>
												</div>
											</div>
										</div>
									</div>
								</article>
							</div>
							<div class="swiper-slide">
								<!-- Slide6 -->
								<article class="pbmit-service-style-2">
									<div class="pbminfotech-post-item">
										<div class="pbmit-featured-wrapper">
											<img src="images/homepage-2/service/service-06.jpg" class="img-fluid" alt="">
										</div>
										<div class="pbminfotech-box-content">
											<div class="pbminfotech-box-content-inner">
												<div class="pbmit-service-icon">
													<div class="pbmit-service-icon-wrapper">
														<i class="pbmit-dentiq-icon pbmit-dentiq-icon-drill"></i> 
													</div>
												</div>
												<h3 class="pbmit-service-title">
													<a href="services-details.html">Teeth Cleaning</a>
												</h3>
												<div class="pbmit-service-content">
													<p>Deep cleaning your teeth is a procedure to treat periodontal.</p>
												</div>
											</div>
										</div>
									</div>
								</article>
							</div>
							<div class="swiper-slide">
								<!-- Slide7 -->
								<article class="pbmit-service-style-2">
									<div class="pbminfotech-post-item">
										<div class="pbmit-featured-wrapper">
											<img src="images/homepage-2/service/service-07.jpg" class="img-fluid" alt="">
										</div>
										<div class="pbminfotech-box-content">
											<div class="pbminfotech-box-content-inner">
												<div class="pbmit-service-icon">
													<div class="pbmit-service-icon-wrapper">
														<i class="pbmit-dentiq-icon pbmit-dentiq-icon-pills"></i> 
													</div>
												</div>
												<h3 class="pbmit-service-title">
													<a href="services-details.html">Paradontosis</a>
												</h3>
												<div class="pbmit-service-content">
													<p>Paradontosis involves oral hygiene and professional teeth cleaning.</p>
												</div>
											</div>
										</div>
									</div>
								</article>
							</div>
							<div class="swiper-slide">
								<!-- Slide8 -->
								<article class="pbmit-service-style-2">
									<div class="pbminfotech-post-item">
										<div class="pbmit-featured-wrapper">
											<img src="images/homepage-2/service/service-08.jpg" class="img-fluid" alt="">
										</div>
										<div class="pbminfotech-box-content">
											<div class="pbminfotech-box-content-inner">
												<div class="pbmit-service-icon">
													<div class="pbmit-service-icon-wrapper">
														<i class="pbmit-dentiq-icon pbmit-dentiq-icon-dental-insurance-1"></i> 
													</div>
												</div>
												<h3 class="pbmit-service-title">
													<a href="services-details.html">Cavity Protection</a>
												</h3>
												<div class="pbmit-service-content">
													<p>Fight cavities with Crest Cavity Protection Toothpaste by us.</p>
												</div>
											</div>
										</div>
									</div>
								</article>
							</div>
							<div class="swiper-slide">
								<!-- Slide9 -->
								<article class="pbmit-service-style-2">
									<div class="pbminfotech-post-item">
										<div class="pbmit-featured-wrapper">
											<img src="images/homepage-2/service/service-09.jpg" class="img-fluid" alt="">
										</div>
										<div class="pbminfotech-box-content">
											<div class="pbminfotech-box-content-inner">
												<div class="pbmit-service-icon">
													<div class="pbmit-service-icon-wrapper">
														<i class="pbmit-dentiq-icon pbmit-dentiq-icon-girl"></i> 
													</div>
												</div>
												<h3 class="pbmit-service-title">
													<a href="services-details.html">Radiographs</a>
												</h3>
												<div class="pbmit-service-content">
													<p>Images of your teeth that your dentist uses to your oral health.</p>
												</div>
											</div>
										</div>
									</div>
								</article>
							</div>
						</div>
					</div>
				</div>
            </section>
            <!-- Service End -->

			<!-- Counter Start --> 
			<section class="section-lg counter-section-two pbmit-bg-color-global">
				<div class="container">
					<div class="row">
						<div class="col-md-5">
							<div class="pbmit-heading-subheading text-white">
								<h4 class="pbmit-subtitle">YEARS EXPERIENCE</h4>
								<h2 class="pbmit-title">Learn More About Our Success Stories</h2>
							</div>
							<div class="counter-two-box">
								<div class="counter-two-icon-box">
									<span><i class="fa fa-play"></i></span>
								</div>
								<div class="counter-two-icon-content">
									<a href="#">See our video</a>
								</div>
							</div>
						</div>
						<div class="col-md-7">
							<div class="row">
								<div class="col-md-4">
									<div class="pbminfotech-ele-fid-style-4">
										<div class="pbmit-fld-contents">
											<div class="pbmit-circle-outer" data-digit="85" data-fill="#f1f6fb" data-emptyfill="#28303f" data-before="" data-after="<sub>%</sub>">
												<div class="pbmit-circle">
													<div class="pbmit-circle-number">85<sub>%</sub></div>
												</div>
												<div class="pbmit-circle-overlay">
													<h3 class="pbmit-fid-title"><span>Experts Doctors<br></span></h3>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="pbminfotech-ele-fid-style-4">
										<div class="pbmit-fld-contents">
											<div class="pbmit-circle-outer" data-digit="65" data-fill="#f1f6fb" data-emptyfill="#28303f" data-before="" data-after="<sub>%</sub>">
												<div class="pbmit-circle">
													<div class="pbmit-circle-number">65<sub>%</sub></div>
												</div>
												<div class="pbmit-circle-overlay">
													<h3 class="pbmit-fid-title"><span>Quality Works<br></span></h3>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="pbminfotech-ele-fid-style-4">
										<div class="pbmit-fld-contents">
											<div class="pbmit-circle-outer" data-digit="90" data-fill="#f1f6fb" data-emptyfill="#28303f" data-before="" data-after="<sub>%</sub>">
												<div class="pbmit-circle">
													<div class="pbmit-circle-number">90<sub>%</sub></div>
												</div>
												<div class="pbmit-circle-overlay">
													<h3 class="pbmit-fid-title"><span>Smiling Clients<br></span></h3>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Counter End -->

			<!-- Tab  Start -->
            <section class="section-lg">	
				<div class="container"> 
					<div class="pbmit-heading-subheading text-center">
						<h4 class="pbmit-subtitle">OUR Departments</h4>
						<h2 class="pbmit-title">Look at the difference magni</h2>
					</div>
					<div class="pbmit-tab-style-1">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item" role="presentation">
								<a class="nav-link active" data-bs-toggle="tab" href="#tab-2-1" aria-selected="true" role="tab"> 
									<i class="fa fa-stethoscope"></i>
									<span>Normal Checkup</span>
								</a>
							</li>
							<li class="nav-item" role="presentation"> 
								<a class="nav-link" data-bs-toggle="tab" href="#tab-2-2" aria-selected="false" role="tab" tabindex="-1"> 
									<i class="fa fa-hospital-o"></i>
									<span>Dental Checkup</span>
								</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" data-bs-toggle="tab" href="#tab-2-3" aria-selected="false" role="tab" tabindex="-1"> 
									<i class="fa fa-user-md"></i>
									<span>Tooth Pain</span>
								</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" data-bs-toggle="tab" href="#tab-2-4" aria-selected="false" role="tab" tabindex="-1"> 
									<i class="fa fa-heart-o"></i>
									<span>Dental Anxiety</span>
								</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane show active" id="tab-2-1" role="tabpanel">
								<div class="pbmit-column-inner">
									<div class="row align-items-center">
										<div class="col-md-6">
											<div class="single-image-wrapper">
												<img src="images/homepage-2/tab-img-01.jpg" class="img-fluid" alt="">
											</div>
										</div>
										<div class="col-md-6">
											<div class="content-wrapper">
												<h3>Patient safety treatment</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore t dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore t dolore magna aliqua.</p>
											</div>
											<ul class="list-group list-group-borderless">
												<li class="list-group-item">
													<i class="fa fa-check"></i>  Routine and medical care medicine.
												</li>
												<li class="list-group-item">
													<i class="fa fa-check"></i>  Make your smile beautiful.
												</li>
												<li class="list-group-item">
													<i class="fa fa-check"></i>  Building a healthy medical environment.
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="tab-2-2" role="tabpanel">
								<div class="pbmit-column-inner">
									<div class="row align-items-center">
										<div class="col-md-6">
											<div class="single-image-wrapper">
												<img src="images/homepage-2/tab-img-02.jpg" class="img-fluid" alt="">
											</div>
										</div>
										<div class="col-md-6">
											<div class="content-wrapper">
												<h3>Patient safety treatment</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore t dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore t dolore magna aliqua.</p>
											</div>
											<ul class="list-group list-group-borderless">
												<li class="list-group-item">
													<i class="fa fa-check"></i>  Routine and medical care medicine.
												</li>
												<li class="list-group-item">
													<i class="fa fa-check"></i>  Make your smile beautiful.
												</li>
												<li class="list-group-item">
													<i class="fa fa-check"></i>  Building a healthy medical environment.
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="tab-2-3" role="tabpanel">
								<div class="pbmit-column-inner">
									<div class="row align-items-center">
										<div class="col-md-6">
											<div class="single-image-wrapper">
												<img src="images/homepage-2/tab-img-01.jpg" class="img-fluid" alt="">
											</div>
										</div>
										<div class="col-md-6">
											<div class="content-wrapper">
												<h3>Patient safety treatment</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore t dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore t dolore magna aliqua.</p>
											</div>
											<ul class="list-group list-group-borderless">
												<li class="list-group-item">
													<i class="fa fa-check"></i>  Routine and medical care medicine.
												</li>
												<li class="list-group-item">
													<i class="fa fa-check"></i>  Make your smile beautiful.
												</li>
												<li class="list-group-item">
													<i class="fa fa-check"></i>  Building a healthy medical environment.
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="tab-2-4" role="tabpanel">
								<div class="pbmit-column-inner">
									<div class="row align-items-center">
										<div class="col-md-6">
											<div class="single-image-wrapper">
												<img src="images/homepage-2/tab-img-02.jpg" class="img-fluid" alt="">
											</div>
										</div>
										<div class="col-md-6">
											<div class="content-wrapper">
												<h3>Patient safety treatment</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore t dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore t dolore magna aliqua.</p>
											</div>
											<ul class="list-group list-group-borderless">
												<li class="list-group-item">
													<i class="fa fa-check"></i>  Routine and medical care medicine.
												</li>
												<li class="list-group-item">
													<i class="fa fa-check"></i>  Make your smile beautiful.
												</li>
												<li class="list-group-item">
													<i class="fa fa-check"></i>  Building a healthy medical environment.
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </section>
            <!-- Tab End -->

			<!-- Team Start -->
			<section class="section-lgx team-section-two pbmit-bg-color-light">
				<div class="container">
					<div class="pbmit-heading-subheading text-center">
						<h4 class="pbmit-subtitle">OUR TEAM</h4>
						<h2 class="pbmit-title">The most qualified Staff</h2>
						<div class="pbmit-heading-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut<br> labore t dolore magna aliqua. </p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<article class="pbmit-team-style-2">
								<div class="pbminfotech-post-item">
									<div class="pbminfotech-team-image-box">
										<div class="pbmit-featured-wrapper">
											<img src="images/homepage-2/team/team-01.jpg" class="img-fluid" alt="">
										</div>
									</div>
									<div class="pbminfotech-box-content">
										<div class="pbminfotech-box-content-inner">
											<h3 class="pbmit-team-title">
												<a href="team-single.html">Dr. Maria Angel</a>
											</h3>
											<div class="pbminfotech-box-team-position">
												<div class="pbminfotech-box-team-position">General Dentist</div>
											</div>
											<div class="pbminfotech-box-social-links">
												<ul class="pbmit-social-links pbmit-team-social-links">
													<li class="pbmit-social-li pbmit-social-facebook">
														<a href="homepage-2.html" title="Facebook" target="_blank">
															<span><i class="pbmit-base-icon-facebook-squared"></i></span>
														</a>
													</li>
													<li class="pbmit-social-li pbmit-social-twitter">
														<a href="homepage-2.html" title="Twitter" target="_blank">
															<span><i class="pbmit-base-icon-twitter"></i></span>
														</a>
													</li>
													<li class="pbmit-social-li pbmit-social-linkedin">
														<a href="homepage-2.html" title="LinkedIn" target="_blank">
															<span><i class="pbmit-base-icon-linkedin-squared"></i></span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</article>
						</div>
						<div class="col-md-4">
							<article class="pbmit-team-style-2">
								<div class="pbminfotech-post-item">
									<div class="pbminfotech-team-image-box">
										<div class="pbmit-featured-wrapper">
											<img src="images/homepage-2/team/team-02.jpg" class="img-fluid" alt="">
										</div>
									</div>
									<div class="pbminfotech-box-content">
										<div class="pbminfotech-box-content-inner">
											<h3 class="pbmit-team-title">
												<a href="team-single.html">Dr. Adam Smith</a>
											</h3>
											<div class="pbminfotech-box-team-position">
												<div class="pbminfotech-box-team-position">Orthodontist</div>
											</div>
											<div class="pbminfotech-box-social-links">
												<ul class="pbmit-social-links pbmit-team-social-links">
													<li class="pbmit-social-li pbmit-social-facebook">
														<a href="homepage-2.html" title="Facebook" target="_blank">
															<span><i class="pbmit-base-icon-facebook-squared"></i></span>
														</a>
													</li>
													<li class="pbmit-social-li pbmit-social-twitter">
														<a href="homepage-2.html" title="Twitter" target="_blank">
															<span><i class="pbmit-base-icon-twitter"></i></span>
														</a>
													</li>
													<li class="pbmit-social-li pbmit-social-linkedin">
														<a href="homepage-2.html" title="LinkedIn" target="_blank">
															<span><i class="pbmit-base-icon-linkedin-squared"></i></span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</article>
						</div>
						<div class="col-md-4">
							<article class="pbmit-team-style-2">
								<div class="pbminfotech-post-item">
									<div class="pbminfotech-team-image-box">
										<div class="pbmit-featured-wrapper">
											<img src="images/homepage-2/team/team-03.jpg" class="img-fluid" alt="">
										</div>
									</div>
									<div class="pbminfotech-box-content">
										<div class="pbminfotech-box-content-inner">
											<h3 class="pbmit-team-title">
												<a href="team-single.html">Dr. Jason Smith</a>
											</h3>
											<div class="pbminfotech-box-team-position">
												<div class="pbminfotech-box-team-position">Dental surgeon</div>
											</div>
											<div class="pbminfotech-box-social-links">
												<ul class="pbmit-social-links pbmit-team-social-links">
													<li class="pbmit-social-li pbmit-social-facebook">
														<a href="homepage-2.html" title="Facebook" target="_blank">
															<span><i class="pbmit-base-icon-facebook-squared"></i></span>
														</a>
													</li>
													<li class="pbmit-social-li pbmit-social-twitter">
														<a href="homepage-2.html" title="Twitter" target="_blank">
															<span><i class="pbmit-base-icon-twitter"></i></span>
														</a>
													</li>
													<li class="pbmit-social-li pbmit-social-linkedin">
														<a href="homepage-2.html" title="LinkedIn" target="_blank">
															<span><i class="pbmit-base-icon-linkedin-squared"></i></span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</section>
            <!-- Team End -->
			
			<!-- About us Start -->
			<section class="section-lg about-us-section-two pbmit-bg-color-globalcolor">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<div class="pbmit-ihbox-style-10">
								<div class="pbmit-ihbox-contents">
									<div class="pbmit-ihbox-headingicon d-flex align-items-center">
										<div class="pbmit-ihbox-icon">
											<div class="pbmit-ihbox-icon-wrapper">
												<i class="pbmit-dentiq-icon pbmit-dentiq-icon-healthcare-and-medical"></i>
											</div>
										</div>
										<div class="pbmit-ihbox-contents">
											<div class="pbmit-ihbox-subheading">
												<h4 class="vc_custom_heading">SPECIAL OFFER</h4>
											</div>
											<div class="pbmit-ihbox-heading">
												<h2 class="vc_custom_heading">Get a free medical checkup</h2>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="about-us-two-btn">
								<a href="#" class="pbmit-btn pbmit-btn-outline-white">contact US</a>
							</div>
						</div>
					</div>
				</div>
			</section>
            <!-- About us End -->

			<!-- testimonial Start -->
			<section class="section-lg testimonial-section-two">
				<div class="container">
					<div class="swiper-slider" data-arrows-class="team3-arrow"  data-autoplay="true" data-dots="false" data-arrows="true" data-columns="1" data-margin="30" data-effect="slide">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<!-- Slide1 -->
								<article class="pbmit-testimonial-style-2">
									<div class="pbminfotech-post-item">
										<div class="pbminfotech-box-img">
											<div class="pbmit-featured-wrapper">
												<img src="images/homepage-2/testimonial/testimonial-01.jpg" class="img-fluid" alt="">
											</div>
										</div>
										<div class="pbminfotech-box-content">
											<div class="pbminfotech-box-desc">
												<blockquote class="pbminfotech-testimonial-text">
													<p>The doctors and nurses and aides were excellent. The food was excellent. I am feeling fine, back to my old self again and it feels great. Thank God for clinics such as yours.</p>
												</blockquote>
											</div>
										</div>
										<div class="pbminfotech-box-author">
											<h3 class="pbminfotech-box-title">Richard Scott</h3>
											<span class="pbmit-designation">Dental Implants</span> 
										</div>
									</div>
								</article>
							</div>
							<div class="swiper-slide">
								<!-- Slide2 -->
								<article class="pbmit-testimonial-style-2">
									<div class="pbminfotech-post-item">
										<div class="pbminfotech-box-img">
											<div class="pbmit-featured-wrapper">
												<img src="images/homepage-2/testimonial/testimonial-02.jpg" class="img-fluid" alt="">
											</div>
										</div>
										<div class="pbminfotech-box-content">
											<div class="pbminfotech-box-desc">
												<blockquote class="pbminfotech-testimonial-text">
													<p>A smile adorns a person. I am glad that I can decorate people even in this way. Dentistry is not expensive, neglect is Being a famous designer is like being a famous dentist.</p>
												</blockquote>
											</div>
										</div>
										<div class="pbminfotech-box-author">
											<h3 class="pbminfotech-box-title">Jennifer Smith</h3>
											<span class="pbmit-designation">Teeth Whitening</span> 
										</div>
									</div>
								</article>
							</div>
							<div class="swiper-slide">
								<!-- Slide3 -->
								<article class="pbmit-testimonial-style-2">
									<div class="pbminfotech-post-item">
										<div class="pbminfotech-box-img">
											<div class="pbmit-featured-wrapper">
												<img src="images/homepage-2/testimonial/testimonial-03.jpg" class="img-fluid" alt="">
											</div>
										</div>
										<div class="pbminfotech-box-content">
											<div class="pbminfotech-box-desc">
												<blockquote class="pbminfotech-testimonial-text">
													<p>I appreciate all your kindness and good care you gave me. My maintenance treatments have done wonder for me. Thank you so much. Please enjoy the chocolates.</p>
												</blockquote>
											</div>
										</div>
										<div class="pbminfotech-box-author">
											<h3 class="pbminfotech-box-title">Paul Hill</h3>
											<span class="pbmit-designation">Orthodontics</span> 
										</div>
									</div>
								</article>
							</div>
						</div>
					</div>
				</div>
			</section>
            <!-- testimonial End -->

			<!-- Client Start -->
			<section class="client-section-two">
				<div class="container">
					<div class="row">
						<div class="col-md-20percent">
							<article class="pbmit-client-style-1">
								<div class="pbmit-client-wrapper">
								<h4 class="pbmit-hide">Client 6</h4>
									<div class="pbmit-featured-wrapper">
										<img src="images/homepage-2/client/client-01.png" class="img-fluid" alt="">
									</div>
								</div>
							</article>
						</div>
						<div class="col-md-20percent">
							<article class="pbmit-client-style-1">
								<div class="pbmit-client-wrapper">
								<h4 class="pbmit-hide">Client 6</h4>
									<div class="pbmit-featured-wrapper">
										<img src="images/homepage-2/client/client-02.png" class="img-fluid" alt="">
									</div>
								</div>
							</article>
						</div>
						<div class="col-md-20percent">
							<article class="pbmit-client-style-1">
								<div class="pbmit-client-wrapper">
								<h4 class="pbmit-hide">Client 6</h4>
									<div class="pbmit-featured-wrapper">
										<img src="images/homepage-2/client/client-03.png" class="img-fluid" alt="">
									</div>
								</div>
							</article>
						</div>
						<div class="col-md-20percent">
							<article class="pbmit-client-style-1">
								<div class="pbmit-client-wrapper">
								<h4 class="pbmit-hide">Client 6</h4>
									<div class="pbmit-featured-wrapper">
										<img src="images/homepage-2/client/client-04.png" class="img-fluid" alt="">
									</div>
								</div>
							</article>
						</div>
						<div class="col-md-20percent">
							<article class="pbmit-client-style-1">
								<div class="pbmit-client-wrapper">
								<h4 class="pbmit-hide">Client 6</h4>
									<div class="pbmit-featured-wrapper">
										<img src="images/homepage-2/client/client-05.png" class="img-fluid" alt="">
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</section>
            <!-- Client End -->

            <!-- Blog Start -->
            <section class="section-lgx blog-section-two pbmit-bg-color-light">
               <div class="container">
					<div class="pbmit-heading-subheading text-center">
						<h4 class="pbmit-subtitle">Our Blog</h4>
						<h2 class="pbmit-title">Read Our Latest Articles</h2>
						<div class="pbmit-heading-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut<br> labore t dolore magna aliqua. </p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<article class="pbmit-blogbox-style-3">
								<div class="post-item">
									<div class="pbmit-featured-container">
										<div class="pbmit-featured-wrapper">
											<img src="images/homepage-2/blog/blog-01.jpg" class="img-fluid" alt="">
										</div>
										<div class="pbmit-meta-category">
											<a href="blog-classic.html" rel="category tag">Teeth</a>
										</div>
									</div>
									<div class="pbminfotech-box-content">
										<h3 class="pbmit-post-title">
											<a href="blog-classic.html">Dental Hygiene for Children</a>
										</h3>
										<div class="pbminfotech-box-desc">
											<div class="pbminfotech-box-desc-text">
												<p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibu lum at eros. Nulla vitae elit libero, a pharetra augue. </p>
											</div>
										</div>
										<div class="pbmit-meta-container">
											<div class="pbmit-meta-author-wrapper pbmit-meta-line">
												<a href="blog-classic.html" title="Posted by admin" rel="author">
													<i class="pbmit-base-icon-user"></i> by admin
												</a>
											</div>
											<div class="pbmit-meta-date-wrapper pbmit-meta-line">
												<div class="pbmit-meta-date">
													<i class="pbmit-base-icon-calendar-1"></i> 23 Jan, 2019
												</div>
											</div>
											<div class="pbmit-meta-date-wrapper pbmit-meta-line">
												<i class="pbmit-base-icon-comment-empty"></i> 
												<span class="pbmit-meta pbmit-meta-comments">0</span> Comment
											</div>
										</div>
									</div>
								</div>
							</article>
						</div>
						<div class="col-md-4">
							<article class="pbmit-blogbox-style-3">
								<div class="post-item">
									<div class="pbmit-featured-container">
										<div class="pbmit-featured-wrapper">
											<img src="images/homepage-2/blog/blog-02.jpg" class="img-fluid" alt="">
										</div>
										<div class="pbmit-meta-category">
											<a href="blog-classic.html" rel="category tag">Oral</a>
										</div>
									</div>
									<div class="pbminfotech-box-content">
										<h3 class="pbmit-post-title">
											<a href="blog-classic.html">Improvements In Technology</a>
										</h3>
										<div class="pbminfotech-box-desc">
											<div class="pbminfotech-box-desc-text">
												<p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibu lum at eros. Nulla vitae elit libero, a pharetra augue. </p>
											</div>
										</div>
										<div class="pbmit-meta-container">
											<div class="pbmit-meta-author-wrapper pbmit-meta-line">
												<a href="blog-classic.html" title="Posted by admin" rel="author">
													<i class="pbmit-base-icon-user"></i> by admin
												</a>
											</div>
											<div class="pbmit-meta-date-wrapper pbmit-meta-line">
												<div class="pbmit-meta-date">
													<i class="pbmit-base-icon-calendar-1"></i>  22 Jan, 2019
												</div>
											</div>
											<div class="pbmit-meta-date-wrapper pbmit-meta-line">
												<i class="pbmit-base-icon-comment-empty"></i> 
												<span class="pbmit-meta pbmit-meta-comments">1</span> Comment
											</div>
										</div>
									</div>
								</div>
							</article>
						</div>
						<div class="col-md-4">
							<article class="pbmit-blogbox-style-3">
								<div class="post-item">
									<div class="pbmit-featured-container">
										<div class="pbmit-featured-wrapper">
											<img src="images/homepage-2/blog/blog-03.jpg" class="img-fluid" alt="">
										</div>
										<div class="pbmit-meta-category">
											<a href="blog-classic.html" rel="category tag">Implants</a>
										</div>
									</div>
									<div class="pbminfotech-box-content">
										<h3 class="pbmit-post-title">
											<a href="blog-classic.html">You Want Know About Dentist</a>
										</h3>
										<div class="pbminfotech-box-desc">
											<div class="pbminfotech-box-desc-text">
												<p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibu lum at eros. Nulla vitae elit libero, a pharetra augue. </p>
											</div>
										</div>
										<div class="pbmit-meta-container">
											<div class="pbmit-meta-author-wrapper pbmit-meta-line">
												<a href="blog-classic.html" title="Posted by admin" rel="author">
													<i class="pbmit-base-icon-user"></i> by admin
												</a>
											</div>
											<div class="pbmit-meta-date-wrapper pbmit-meta-line">
												<div class="pbmit-meta-date">
													<i class="pbmit-base-icon-calendar-1"></i>  20 Jan, 2019
												</div>
											</div>
											<div class="pbmit-meta-date-wrapper pbmit-meta-line">
												<i class="pbmit-base-icon-comment-empty"></i> 
												<span class="pbmit-meta pbmit-meta-comments">0</span> Comment
											</div>
										</div>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
            </section>
            <!-- Blog End -->

		</div>
		<!-- Page Content End -->